{% extends "base.html" %}

{% block content %}
<div class="blog-wrapper">
    {% for post in posts %}
    {% url 'blog:blog_post' slug=post.slug as post_url %}
    <div class="post-title">
        <a href="{{ post_url }}">{{post.title}}</a>
    </div>
    <div class="post-date">{{post.date_created|date:'Y-m-d H:i'}}</div>
    {% autoescape off %}
    <div class="post-body">{{post.intro_text}} ...</div>
    {% endautoescape %}
    <div class="post-body-footer"></div>
    {% endfor %}
</div>

{% endblock content %} 
