<!DOCTYPE html>
<html>
    <head>
        <title>Sam Keller</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "my_site/my_site.css" %}"/>
    </head>

    <body>
        <h1 class="name-header">
            <a href="/">Sam Keller</a>
        </h1>
        <div class="nav-link-container">
            <div class="nav-link">
                <a href="/blog">Blog</a>
            </div>
            <div class="nav-link">
                <a href="/about">About Me</a>
            </div>
            <div class="nav-link">
                <a href="/links">Links</a>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>
