<!DOCTYPE html>
<html>
    <head>
        <title>Sam Keller</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "my_site/my_site.css" %}"/>
    </head>

    <body>
        {% url 'home' as home_url %}
        <h1 class="name-header">
            <a href="{{ home_url }}">Sam Keller</a>
        </h1>
        <div class="nav-link-container">
            {% url 'blog:blog_list' as blog_url %}
            <div class="nav-link">
                <a href="{{ blog_url }}">Blog</a>
            </div>
            {% url 'about' as about_url %}
            <div class="nav-link">
                <a href="{{ about_url }}">About Me</a>
            </div>
            <div class="nav-link">
                <a href="{{ home_url }}">Links</a>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>
