<!DOCTYPE html>
<html>
    <head>
        <title>Sam Keller</title>
        {% load static %}
	<link rel="stylesheet" href="{% static "my_site/css/my_site.css" %}"/>
	<link rel="stylesheet" href="{% static "my_site/css/prism.css" %}"/>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-77413969-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
    </head>

    <body>
	<script src="{% static "my_site/js/prism.js" %}"></script>
        {% url 'home' as home_url %}
        <h1 class="name-header">
            <a href="{{ home_url }}">Sam Keller</a>
        </h1>
				<div class="external-link-container">
					{% for link in links %}
          <div class="external-link">
						<a href="{{ link.url }}" target="_blank"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32">
								<path fill="black" d="{{ link.svg }}"></path>
						</svg></a>
					</div>
					{% endfor %}
				</div>
        <div class="nav-link-container">
            {% url 'resume:resume' as resume_url %}
            <div class="nav-link">
                <a href="{{ resume_url }}">Resume</a>
            </div>
            {% url 'highlights:books_list' as books_url %}
            <div class="nav-link">
                <a href="{{ books_url }}">Reading</a>
            </div>
        </div>
        {% block content %}{% endblock content %}
        <div class="footer"><a href="https://www.github.com/samskeller/my_site">Made by me and open sourced on GitHub</a></div>
    </body>
</html>
