{% extends "base.html" %}

{% block content %}
<div class="about-blurb">Hi!<br><br>My name is Sam Keller and I'm a Software Developer in Washington, DC, for Fenix International, a solar power company providing pay-as-you-go products to customers living off-grid in East Africa. I work on the Django web application that is the financial platform powering Fenix's business model. I love Python and git and I've learned to deal with AWS.<br><br>In my spare time, I like to hike, play Ultimate Frisbee, read, play chess, and watch basketball.</div>

{% endblock content %}
