{% extends "base.html" %}

{% block content %}
<div class="about-blurb">Sam Keller is a Software Developer in San Francisco for Fenix International, a solar power company providing pay-as-you-go products to customers living off-grid in East Africa. Sam develops the Django web application that is the financial platform powering Fenix's business model. He is a Pythonista, a git fanatic, and an AWS convert. In his spare time, Sam loves to hike, play Ultimate Frisbee, read, play chess, and watch basketball.</div>

{% endblock content %}
