{% extends "base.html" %}

{% block content %}
<h1 class="link-list-header">Links</h1>
<div class="link-list-wrapper">
    {% for link_type in link_types %}
    <div class="link_type_title">{{ link_type.name }}</div>
    {% for link in link_type.links.all %}
    <div class="link-wrapper">
        {% if link.icon %}
        <img src="{{ link.icon.url }}", width="64", height="64">
        {% endif %}
        <div class="link-title">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </div>
        <div class="link-url">
            <a href="{{ link.url }}">( {{ link.url }} )</a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock content %}
